__pycache__/
build/
dist/

*.gz

*.pyc

*.pyc

photos/__init__.pyc

*.pyc

tango_photos.egg-info/PKG-INFO

tango_photos.egg-info/top_level.txt

tango_photos.egg-info/not-zip-safe

tango_photos.egg-info/dependency_links.txt

tango_photos.egg-info/SOURCES.txt

tango_photos.egg-info/requires.txt
